# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
.env.*
*/.env
*/.env.*
!.env.example
!*/.env.example

# Expo & Builds
.expo/
*/.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS generated
.DS_Store
Thumbs.db
